body {
    background: url(assets/images/home/pexels-min-an-1313809.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}